/JavaClasspractice/nbproject/private/
/JavaClasspractice/build/
/LeatnWithChatGPT/nbproject/private/
/LeatnWithChatGPT/build/
/ProcessingPrimitive/nbproject/private/
/ProcessingPrimitive/build/
/LearnInheretance/nbproject/private/
/LearnInheretance/build/
/LoveLetter/nbproject/private/
/LoveLetter/build/
/BigIntegerAndBigDecimalClass/nbproject/private/
/BigIntegerAndBigDecimalClass/build/
